#skills {
  padding: 40px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.skill-card {
  background: #ffffff;
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.skill-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 15px;
}



@media (max-width: 992px) {
  .featured-list {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 600px) {
  .featured-list {
    grid-template-columns: 3fr; 
  }
}


.categories-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  padding: 30px 0;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  padding: 20px;
}

.categories-card img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}



@media (max-width: 992px) {
  .categories-list {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 600px) {
  .categories-list {
    grid-template-columns: 3fr; 
  }
}