.footer {
  background-color: #2a2621;
  color: #eee;
  padding: 40px;
  font-family: 'Arial', sans-serif;
  
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.footer-brand, .footer-links, .footer-contact {
  flex: 1 1 250px;
  margin: 20px 0;
}

.footer h2, .footer h4 {
  color: #fff;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 8px 0;
}

.footer-links a {
  color: #fff4f4;
  text-decoration: none;
}

.footer-links a:hover {
  color: #ffff;
}

.footer-contact p {
  margin: 5px 0;
}

.footer-socials a img {
  width: 30px;
  margin: 8px;
  vertical-align: middle;
  filter: brightness(1);
  transition: filter 0.3s;
}

.footer-socials a:hover img {
  filter: brightness(1);
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #ffffff;
  padding-top: 20px;
  margin-top: 20px;
  font-size: 14px;
  color: #ffffff;
}
